@use './styles/variables' as *;
@use './styles/mixins' as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
}

.main {
  position: relative;
  top: -1.75rem;
  @include column-flex;
  gap: 1.5rem;
  padding: 0 1.5rem;
}