@use '../../styles/variables' as *;
@use '../../styles/spacing' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font' as *;

.transaction {
  @include content-block;
  @include column-flex;
  &__heading {
    @include jua-text;
    margin: 0;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1.25rem;
    margin-top: 0.75rem;
  }
  &__or {
    @include jua-text;
  }
  &__save-button {
    @include button($save-green);
  }
  &__spend-button {
    @include button($spend-red);
  }
}